@use '/src/assets/style/partials/variables.scss' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'bootstrap/scss/bootstrap';

body{
    font-size: 1.1em;
}
img{
    width:100%;
}
a{
    text-decoration: none;
}
section{
    padding: 50px 0 50px 0;
}

h2{
    font-size: 2.8em;
}