// colors 

$color-primary: #397af2;
$color-secondary: #f2792a;
$color-tertiary: #f8ba35;
$color-accent: #55acb3;
$color-white: #ffffff;
$color-dark: #1b2e35;
$color-light:#fef8ec;
$color-light-blue:#dff3f2;

// fonts 
$font-title: 'Grandstander', cursive;